body {
    margin: 0 auto;
    text-align: center;
    background-color: #7b5e7b74;
    width: 100%;
    font-size: 1.6em;
}

main {
    width: 100%;
    margin: auto;
    align-content: center;
}

.container {
    width: 100%;
    padding: 1.25rem;  
    margin-left: auto;
    margin-right: auto;
    border-color: gray;
    border-width: 2px;
    border-radius: 0.5rem;
    border-style: solid;

}

@media (min-width:768px) {
    .container {
        max-width: 100%;
    }
    /* .menu_item {
        width: 19%
    } */
}

@media (min-width:1024px) {
    .container {
        max-width: 820px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 924px
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1080px
    }
}

/* @media (max-width: 768px) {
    .menu_item {
        width: 100% }
    } */

.article {
    display: inline-block;
    align-content: center;
    max-width: 600px;
}

.article p {
    font: 1em sans-serif;
    color: black;
    text-align: justify;
    font-weight: 500;
    font-style: italic;

}

h1, h2 { 
    color: #1c0221;
    background-color: gray;
    font-size: 2em;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  #1c0221;;
    background-color: gray;
    font-size: 2.5em;
    font-weight: 600;
    padding: 10px;
    border-radius: 0.5rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    background-color: gray;
    /* border-color: gray; */
    /* border-width: 2px; */
    border-radius: 0.5rem;
    /* padding: 2rem; */
    /* border-style: solid; */
    margin-top: 0.5rem;
}

.menu_item {
    background-color: gray;
    border-radius: 0.5rem;
    margin: 2px;
    flex: 1 1 0;
	width: 0;
}

